@model IEnumerable<DnDPlayerReference.Models.Player>
@{
    ViewData["Title"] = "Игроки";
}
<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Раса</th>
            <th>Класс</th>
            <th>Уровень</th>
            <th>Сила</th>
            <th>Ловкость</th>
            <th>Телосложение</th>
            <th>Интеллект</th>
            <th>Мудрость</th>
            <th>Харизма</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.Name</td>
                <td>@player.Race</td>
                <td>@player.Class</td>
                <td>@player.Level</td>
                <td>@player.Strength</td>
                <td>@player.Dexterity</td>
                <td>@player.Constitution</td>
                <td>@player.Intelligence</td>
                <td>@player.Wisdom</td>
                <td>@player.Charisma</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@player.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@player.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>